@{
    ViewData["Title"] = "Questions";
}
<ul>
    <li><a asp-area="" asp-controller="Question" asp-action="Questions_Day_1">Questions Day 1</a></li>
	 <li><a asp-area="" asp-controller="Roi" asp-action="Index">Questions 4</a></li>
</ul>
